*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#0f172a;
  color:white;
  transition:0.3s;
}

.light{
  background:#f3f4f6;
  color:black;
}

.center{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.loginBox{
  width:350px;
  background:#1e293b;
  padding:40px;
  border-radius:20px;
  box-shadow:0 0 25px rgba(0,0,0,0.3);
}

.light .loginBox{
  background:white;
}

.subtitle{
  opacity:0.7;
}

input{
  width:100%;
  padding:14px;
  margin-top:15px;
  border:none;
  border-radius:12px;
  outline:none;
}

button{
  border:none;
  cursor:pointer;
}

.loginBox button{
  width:100%;
  margin-top:15px;
  padding:14px;
  border-radius:12px;
  background:#4f46e5;
  color:white;
  font-size:16px;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  background:#111827;
  position:sticky;
  top:0;
}

.light .navbar{
  background:white;
}

.navRight{
  display:flex;
  gap:10px;
}

.themeBtn,
.logoutBtn{
  padding:10px 16px;
  border-radius:10px;
}

.searchBar{
  padding:20px;
}

.searchBar input{
  background:#1e293b;
  color:white;
}

.light .searchBar input{
  background:white;
  color:black;
}

.layout{
  display:flex;
  gap:20px;
  padding:20px;
}

.left{
  width:70%;
}

.right{
  width:30%;
}

.card{
  background:#1e293b;
  padding:20px;
  border-radius:16px;
  margin-bottom:15px;
}

.light .card{
  background:white;
}

.unread{
  background:#3a1f1f;
  border:1px solid #ff4d4d;
}

.checkbox{
  width:24px;
  height:24px;
}

.smallCard{
  cursor:pointer;
}

@media(max-width:768px){

.layout{
  flex-direction:column;
}

.left,
.right{
  width:100%;
}

}
